@using System.Data
@using System.Linq
@* carrega os dados dos clientes *@
@model List<Orcamento>
@{
    ViewData["Title"] = "Home Page";
    // Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidraçaria do Marcinho</title>
</head>

<link rel="stylesheet" href="~/css/reset.css">
<link rel="stylesheet" href="~/css/style.css">
@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"> *@


<body>

    <!-- barra superior     -->
    <div class="borda_superior">
        <a class="style-botao-a" href="@Url.Action("Index", "Home")">
            <div class="borda_superior_botao"><p class="texto_botao_borda_superior">Home</p></div>
        </a>
    </div>

    @* <div class="botoes_line">
        <!-- Botão para acessar clientes -->
        <div class="botao" id="botao_clientes">
            <img src="/images/user.png" alt="icone usuário" class="icons">
            <p class="text_botao">Clientes</p>
        </div>

        <!-- Botão para acessar pedidos -->
        <div class="botao">
            <img src="/images/order.png" alt="icone usuário" class="icons">
            <p class="text_botao">Pedidos</p>
        </div>

        <!-- Botão para acessar orçamentos -->
        <div class="botao">
            <img src="/images/budget.png" alt="icone usuário" class="icons">
            <p class="text_botao">Orçamento</p>
        </div>

        <!-- Botão para acessar materiais -->
        <div class="botao">
            <img src="/images/budget.png" alt="icone usuário" class="icons">
            <p class="text_botao">Materiais</p>
        </div>
    </div>


    <!-- painel para os clientes -->
    <div id="painel" class="painel">
        <button class="fechar" id="fechar">X</button> *@

    <div class="painel_clientes">

        <table id="tabelaPedidos" class="display table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Data</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Parelas</th>
                    <th>Parcelas Pagas</th>
                    <th>Valor das Parcelas</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.Id</td>
                        <td>@p.Cliente?.Nome</td>
                        <td>@p.ClienteCPF</td>
                        <td>@p.Cliente?.Telefone</td>

                        <td>
                            @p.Data.ToString("dd/MM/yyyy HH:mm")
                        </td>

                        <td>@p.Status</td>

                        <td>@p.Total</td>

                        <td>@p.Parcelas</td>

                        <td>@p.ParcelasPagas</td>

                        <td>@p.ValorParcelas</td>

                        <td>
                            <a class="hyperlink_tabela" href="@Url.Action("VisualizaPedido", "Pedidos", new { id = p.Id})">
                                <div class="botao_tabela">Visualizar Pedido</div>
                            </a>
                        </td>

                        <td>
                            <a class="hyperlink_tabela" href="@Url.Action("VisualizarCliente", "Clientes", new { cpf = p.Cliente?.CPF })">
                                <div class="botao_tabela">Visualizar Cliente</div>
                            </a>
                        </td>
                        

                    </tr>
                }


            </tbody>

        </table>

    </div>

    @*   </div> *@
    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

        @* <script>
            $(document).ready(function () {
                    $('#tabelaClientes').DataTable({
                        "ajax": {
                        "url": "/Clientes/GetClientes",
                        "type": "GET",
                        "dataSrc": "data",
                        "layout": {
                            "topStart": {
                                "buttons": ['Editar', 'Remover']
                            }
                        }
                    },
                    "columns": [
                        { "data": "Nome" },
                        { "data": "CPF" },
                        { "data": "Telefone" },
                        { 
                            "button": null,
                            "orderable": false,
                            "serchable": false,
                            "render": function (data, type, row) {
                                return `<button class="botao_datatable" onclick="editarCliente('${row.cpf}')">Editar</button>`;
                            }
                        },
                        {
                            "button": null,
                            "orderable": false,
                            "serchable": false,
                            "render": function (data, type, row) {
                                return `<button class="botao_datatable" onclick="removerCliente('${row.cpf}')">Remover</button>`;
                            }
                        }
                    ]
                });
            });
        </script> *@
    }
</body>

</html>
