@using System.Data
@using System.Linq
@model List<VidracariaDoMarcinho.Models.Orcamento>
@{
    var clientes = ViewBag.Clientes as List<Cliente>;
    var materiais = ViewBag.Materiais as List<Material>;
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orçamento</title>
</head>


<link rel="stylesheet" href="~/css/reset.css">
<link rel="stylesheet" href="~/css/style.css">


<body>

    <!-- barra superior     -->
    <div class="borda_superior">
        <a class="style-botao-a" href="@Url.Action("Index", "Home")">
            <div class="botao borda_superior_botao"><p class="texto_botao_borda_superior">Home</p></div>
        </a>
    </div>

    <br />




    <div class="formulario">

        <div class="dropdowns">
            <select id="clienteCPF" class="input-box texto-form" required>

                <option value="" disabled selected>-----------</option>

                @foreach (var c in ViewBag.Clientes as List<Cliente>)
                {
                    <option value="@c.CPF">@c.Nome (@c.CPF)</option>
                }
            </select>

            <select id="VidroId" class="input-box texto-form" onchange="atualizarCampos(), atualizarPrecoVidro()">
                @foreach (var m in (ViewBag.Material as List<Material>).Where(x => x.Nome.Contains("vidro", StringComparison.OrdinalIgnoreCase)))
                {
                    <option value="@m.Id"
                            data-tipo="@m.Nome"
                            data-cor="@m.Cor"
                            data-preco="@m.Preco">
                        @m.Nome (@m.Cor)
                    </option>
                }
            </select>

            <select id="TipoVidro" class="input-box texto-form">
                <option value="Vidro">Vidro</option>
                <option value="Ploter">Ploter</option>
                <option value="Janela 4F">Janela 4F</option>
            </select>

            <select id="CorVidro" class="input-box texto-form">
                <option value="" disabled selected>-----------</option>
                <option value="Color">Color</option>
                <option value="Fosco">Fosco</option>
            </select>

        </div>


        <div>

            <div class="tabela_selecao_vidros">


                <div class="campos-vidros">
                    <label class="texto-form">Altura</label>
                    <br />
                    <input id="altura-input" class="input-box texto-form" type="number" name="altura-input" min="0.1" step="0.1" onchange="atualizarPrecoVidro()" />

                    <br />

                    <label class="texto-form">Largura</label>
                    <br />
                    <input id="largura-input" class="input-box texto-form" type="number" name="largura-input" min="0.1" step="0.1" onchange="atualizarPrecoVidro()" />

                    <br />

                    <label class="texto-form">Observações</label>
                    <br />
                    <input id="obs-input" class="input-box texto-form" type="text" name="obs-input" />

                </div>

                <div class="campos-vidros">

                    <label class="texto-form">Tipo do Vidro</label>
                    <br />
                    <input id="tipo-input" class="input-box texto-form" type="text" name="tipo-input" readonly />

                    <br />

                    <label class="texto-form">Cor</label>
                    <br />
                    <input id="cor-vidro-input" class="input-box texto-form" type="text" name="cor-vidro-input" readonly />

                    <br />

                    <label class="texto-form">Preço</label>
                    <br />
                    <input id="preco-input" class="input-box texto-form" type="text" name="preco-input" readonly />

                    <br />

                    <button class="btn-add-vidro">Adicionar</button>
                </div>



                <div class="campos-vidros-tabela">
                    <div class="tabela_selecao">


                        <div class="tabela_vidros">

                            <table id="tabelaVidrosAdicionados" class="display table" stateSave: true>

                                <thead>
                                    <tr>
                                        <th>Altura</th>
                                        <th>Largura</th>
                                        <th>TipoVidro</th>
                                        <th>Cor</th>
                                        <th>Observações</th>
                                        <th>Quantidade</th>
                                        <th>Preco</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div>
            
            <div class="tabela_selecao">
                <div class="item-tabela-selecao">
                    <label class="texto-form">Mão de Obra</label>
                    <input id="MaoDeObra" class="input-box texto-form" type="number"
                           step="0.50" min="0" name="box-input" onchange="recalculaTotal()" />
                </div>

                <div class="item-tabela-selecao">
                    <label class="texto-form">Porcentagem de Lucro (%)</label>
                    <input id="porcentagem-lucro-input" class="input-box texto-form" type="number"
                           step="0.01" name="box-input" onchange="recalculaTotal()" />
                </div>

                <div class="item-tabela-selecao">
                    <label class="texto-form">Porcentagem de Desconto (%)</label>
                    <input id="porcentagem-desconto-input" class="input-box texto-form" type="number"
                           step="0.01" name="box-input" onchange="recalculaTotal()" />
                </div>

                <div class="item-tabela-selecao">
                    <label class="texto-form">Porcentagem de Aumento nas Parcelas (%)</label>
                    <input id="porcentagem-parcela-input" class="input-box texto-form" type="number"
                           step="0.01" name="box-input" onchange="recalculaTotal()" />
                </div>
            </div>

            <br />

            <div class="tabela_selecao">
                <div class="item-tabela-selecao">
                    <label class="texto-form">Local de instalação</label>
                    <input id="instalacao-input" class="input-box texto-form" type="text" name="instalacao-input" />
                </div>

                <div class="item-tabela-selecao">
                    <label class="texto-form">Observações</label>
                    <input id="obs-orcamento-input" class="input-box texto-form" type="text" name="obs-orcamento-input" />
                </div>

                <div class="item-tabela-selecao">
                    <label class="texto-form">Parcelas</label>
                    <input id="parcelas-input" class="input-box texto-form" type="number"
                           step="1" min="1" name="parcelas-input" onchange="recalculaTotal()" value="1" />
                </div>
            </div>

        </div>

        <div>

            <div class="tabela_selecao">
                <div class="tabela_selecao_materiais">
                    <table id="tabelaMateriais" class="display table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cor</th>
                                <th>Preço</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var m in (ViewBag.Material as List<Material>)
                                                        .Where(x => !x.Nome.Contains("vidro", StringComparison.OrdinalIgnoreCase)))
                            {
                                <tr data-id="@m.Id" data-nome="@m.Nome" data-cor="@m.Cor" data-preco="@m.Preco">
                                    <td>@m.Nome</td>
                                    <td>@m.Cor</td>
                                    <td>@m.Preco</td>
                                    <td><button class="btn-add">Adicionar</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="tabela_selecao_materiais">

                    <table id="tabelaSelecionados" class="display table">

                        <thead><tr><th>Nome</th><th>Cor</th><th>Preço</th><th>Qtde</th><th></th></tr></thead>

                        <tbody>
                            <!-- Linhas serão adicionadas aqui -->
                        </tbody>

                    </table>

                </div>

            </div>

            <div class="dropdowns">
                <input type="button" name="atualizaTabela" onclick="atualizarTabelaMateriais()" value="Atualizar Tabelas" />
            </div>

        </div>
        <br />

        <div>
            <div>
                <p>Custo: <span id="valorTotal">0.00</span></p>
                <p>Valor Total: <span id="valor-total-pct">0.00</span></p>
                <p>Valor Parcela: <span id="valor-total-parcela">0.00</span></p>
            </div>

        </div>

        <br />
        <button id="btnSalvar" data-save-url="@Url.Action("Salvar", "Orcamento")">Salvar Orçamento</button>

        @* adicionar campos no banco de dados para o custo, valor total, gasolina, silicone, box.  *@

        <script>
                window.onload = function () {
                atualizarCampos();
                document.getElementById("porcentagem-lucro-input").value = 30.00;
                document.getElementById("porcentagem-parcela-input").value = 10.00;
                document.getElementById("porcentagem-desconto-input").value = 0.00;
                document.getElementById("MaoDeObra").value = 40.00;
                // atualizarCampos();
                atualizarPrecoVidro();
                // setInterval(atualizarTabelaMateriais, 5000); //atualiza a cada 5 segundos
                setInterval(atualizarDropdownVidro, 5000);
                setInterval(atualizarDropdownCliente, 5000);



                // adicionarItem(30)
            };
        </script>
    </div>



    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

    }

</body>

</html>