@using System.Data
@using System.Linq
@* carrega os dados dos clientes *@
@model List<Material>
@{
    ViewData["Title"] = "Home Page";
}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vidraçaria do Marcinho</title>
    </head>

    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/style.css">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"> *@


    <body>

        <!-- barra superior     -->
        <div class="borda_superior">
            <a class="style-botao-a" href="@Url.Action("Index", "Home")">
                <div class="borda_superior_botao"><p class="texto_botao_borda_superior">Home</p></div>
            </a>
        </div>

        <div class="painel_clientes">

            <table id="tabelaClientes" class="display table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Cor</th>
                        <th>Preço</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Material material in Model)
                    {
                        <tr>
                            <td>@material.Id</td>
                            <td>@material.Nome</td>
                            <td>@material.Cor</td>
                            <td>@material.Preco</td>
                            <td>
                                <a class="hyperlink_tabela" href="@Url.Action("EditarMaterial", "Materiais", new { id = @material.Id })">
                                    <div class="botao_tabela">Visualizar Material</div>
                                </a>
                            </td>
                        </tr>
                    }


                </tbody>

            </table>

        </div>


        @section Scripts {
            <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
            <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
            <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

        }
    </body>

</html>
