@using System.Data
@using System.Linq
@* carrega os dados dos clientes *@
@model List<Cliente>
@{
    ViewData["Title"] = "Home Page";
    // Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidraçaria do Marcinho</title>
</head>

<link rel="stylesheet" href="~/css/reset.css">
<link rel="stylesheet" href="~/css/style.css">
@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"> *@


<body>

    <!-- barra superior     -->
    <div class="borda_superior">
        <a class="style-botao-a" href="@Url.Action("Index", "Home")">
            <div class="botao borda_superior_botao"><p class="texto_botao_borda_superior">Home</p></div>
        </a>
    </div>

    <div class="painel_clientes">

        <table id="tabelaClientes" class="display table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (Cliente cliente in Model)
                {
                    <tr>
                        <td>@cliente.Nome</td>
                        <td>@cliente.CPF</td>
                        <td>@cliente.Telefone</td>
                        <td>
                            <a class="hyperlink_tabela" href="@Url.Action("VisualizarCliente", "Clientes", new { cpf = @cliente.CPF })">
                                <div class="botao_tabela botao">Visualizar Cliente</div>
                            </a>
                        </td>
                        <td>
                            <button class="btn-remover-cliente" data-cpf="@cliente.CPF">Remover</button>
                        </td>

                    </tr>
                }


            </tbody>

        </table>

        <a class="hyperlink_tabela" href="@Url.Action("VisualizarCliente", "Clientes")">
            <div class="botao_tabela botao">Adicionar Cliente</div>
        </a>

    </div>

    @*   </div> *@
    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

    }
</body>

</html>
