@model Cliente

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidraçaria do Marcinho - Detalhes do Cliente</title>

    <!-- Bootstrap para estilização rápida -->
    <!-- Seus estilos -->
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="bg-light">

    <div class="borda_superior"></div>

    <div class="formulario">
        @using (@Html.BeginForm("CrudUsuario", "Clientes", FormMethod.Post, new { id = "form-crud-usuario" }))
        {

            @* Fazer isso em todos campos *@
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "nome-usuario texto-form" })

            <br />
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "nome-usuario-input input-box texto-form" } })
            <br />

            @* CPF *@
            @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "cpf-usuario texto-form" })

            <br />
            @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "cpf-usuario-input input-box texto-form" } })
            <br />
            @* Telefone *@
            @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "telefone-usuario texto-form" })

            <br />
            @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "telefone-usuario-input input-box texto-form" } })
            <br>

            <div class="endereco">
                <div>
                    @* Rua *@
                    @Html.LabelFor(model => model.Rua, htmlAttributes: new { @class = "rua-usuario texto-form" })

                    <br />
                    @Html.EditorFor(model => model.Rua, new { htmlAttributes = new { @class = "rua-usuario-input input-box texto-form" } })
                    <br>
                </div>
                <div>
                    @* Numenro *@
                    @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "numero-usuario texto-form" })

                    <br />
                    @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "numero-usuario-input input-box texto-form" } })
                    <br>
                </div>
            </div>

            <br />

            <div class="endereco">
                <div>
                    @* Bairro *@
                    @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "bairro-usuario texto-form" })

                    <br />
                    @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "bairro-usuario-input input-box texto-form" } })
                    <br>
                </div>
                
                <div>
                    @* Cidade *@
                    @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "cidade-usuario texto-form" })

                    <br />
                    @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "cidade-usuario-input input-box texto-form" } })
                    <br>
                </div>

                <div>
                    @* CEP *@
                    @Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "cep-usuario texto-form" })

                    <br />
                    @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "cep-usuario-input input-box texto-form" } })
                    <br>
                </div>
            </div>

            <br />
            <button type="submit" class="btn btn-primary rounded-pill px-4">Salvar</button>

            <div class="text-center campo-de-texto">
                <a href="@Url.Action("Index", "Clientes")" class="btn btn-secondary rounded-pill px-4">Voltar</a>
                <a href="@Url.Action("EditarCliente", "Clientes", new { cpf = @Model.CPF })" class="btn btn-warning rounded-pill px-4">Editar</a>
            </div>
        }
    </div>

</body>
</html>
